 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 486px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 25px 697px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 402px;
  grid-gap: 0px 0px;
  grid-auto-columns: 20%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 30px 7px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 30px 7px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 30px 7px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 30px 7px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 30px 7px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 30px 7px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  top: 337px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: auto;
  top: 337px;
  right: 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 497px;
    margin-left: 355px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 277px;
    margin-left: 272px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 97px;
    margin-left: 204px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1212px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 25px 697px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 402px;
  grid-gap: 0px 0px;
  grid-auto-columns: 20%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
  padding: 5px 30px 7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
  padding: 5px 30px 7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
  padding: 5px 30px 7px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
  padding: 5px 30px 7px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
  padding: 5px 30px 7px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 308px;
  width: 205px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
  padding: 5px 30px 7px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  top: 358px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: auto;
  top: 358px;
  right: 0;
}

.u-section-2 .u-text-8 {
  margin: 30px 697px 0 0;
}

.u-section-2 .u-list-2 {
  margin-bottom: 40px;
  margin-top: 30px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 590px;
}

.u-section-2 .u-list-item-7 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-10 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-11 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-12 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

.u-section-2 .u-list-item-8 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-14 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-15 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-16 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

.u-section-2 .u-list-item-9 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-18 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-19 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-20 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

.u-section-2 .u-list-item-10 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-22 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-23 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-24 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

.u-section-2 .u-list-item-11 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-26 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-27 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-28 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

.u-section-2 .u-list-item-12 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-text-29 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-30 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-31 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-32 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

.u-section-2 .u-list-item-13 {
  background-image: linear-gradient(#e5e5e5, #f1f6f6);
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-text-33 {
  font-size: 1.125rem;
  margin: 24px 1070px 0 30px;
}

.u-section-2 .u-text-34 {
  text-align: left;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -22px 123px 0 932px;
}

.u-section-2 .u-text-35 {
  text-align: left;
  font-size: 1.125rem;
  margin: -20px 705px 0 94px;
}

.u-section-2 .u-text-36 {
  text-align: left;
  font-size: 1.125rem;
  margin: -22px 490px 0 431px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 497px;
    margin-left: 355px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .u-section-2 .u-image-1 {
    height: 500px;
  }

  .u-section-2 .u-image-2 {
    height: 500px;
  }

  .u-section-2 .u-image-3 {
    height: 500px;
  }

  .u-section-2 .u-image-4 {
    height: 500px;
  }

  .u-section-2 .u-image-5 {
    height: 500px;
  }

  .u-section-2 .u-image-6 {
    height: 500px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 497px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 390px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 390px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 390px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-24 {
    margin-right: 390px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-26 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-27 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-28 {
    margin-right: 390px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-30 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 390px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 900px;
    margin-left: 0;
  }

  .u-section-2 .u-text-34 {
    margin-right: 23px;
    margin-left: 832px;
  }

  .u-section-2 .u-text-35 {
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-2 .u-text-36 {
    margin-right: 390px;
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 277px;
    margin-left: 272px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2 .u-text-8 {
    margin-right: 277px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 280px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 280px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 280px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 280px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-27 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 280px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 280px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 680px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-2 .u-text-35 {
    margin-right: 378px;
  }

  .u-section-2 .u-text-36 {
    margin-right: 280px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 97px;
    margin-left: 204px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-2 .u-text-8 {
    margin-right: 97px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 190px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 190px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 190px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 190px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-27 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 190px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-30 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 190px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-34 {
    margin-left: 455px;
  }

  .u-section-2 .u-text-35 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-36 {
    margin-right: 190px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 478px;
  }

  .u-section-2 .u-image-2 {
    height: 478px;
  }

  .u-section-2 .u-image-3 {
    height: 478px;
  }

  .u-section-2 .u-image-4 {
    height: 478px;
  }

  .u-section-2 .u-image-5 {
    height: 478px;
  }

  .u-section-2 .u-image-6 {
    height: 478px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 90px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 90px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 90px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    margin-right: 90px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-27 {
    margin-right: 0;
  }

  .u-section-2 .u-text-28 {
    margin-right: 90px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-30 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 90px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-34 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-35 {
    margin-right: 0;
  }

  .u-section-2 .u-text-36 {
    margin-right: 90px;
    margin-left: 31px;
  }
}